@use 'base/variables' as v;
@use 'base/mixins' as m;
.notavif.notwebp .header {
    background-image: linear-gradient(to right, transparentize(v.$primario, .1) 0%, transparentize(v.$primario, .1) 100%), url(../img/header_bg.jpg);
}

.webp .header {
    background-image: linear-gradient(to right, transparentize(v.$primario, .1) 0%, transparentize(v.$primario, .1) 100%), url(../img/header_webp);
}

.avif .header {
    background-image: linear-gradient(to right, transparentize(v.$primario, .1) 0%, transparentize(v.$primario, .1) 100%), url(../img/header_bg.avif);
}

.header {
    padding: 3rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &__contenido {
        padding: 5rem 0;
        @include m.tablet {
            max-width: 70rem;
        }
    }
    &__heading {
        font-size: 3rem;
        color: v.$blanco;
        font-weight: bold;
        text-align: center;
        @include m.tablet {
            text-align: left;
            font-size: 4rem;
        }
    }
    &__descripcion {
        display: none;
        text-align: justify;
        color: v.$blanco;
        @include m.tablet {
            display: block;
        }
    }
    &__imagen {
        display: none;
        @include m.tablet {
            display: block;
            position: absolute;
            right: 0;
            bottom: -10rem;
            max-width: 35rem;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 5rem;
        }
        @include m.desktopXL {
            max-width: 45rem;
        }
    }
}

.barra {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
    &__logo {
        img {
            max-width: 25rem;
            height: 10rem;
        }
    }
}

.nav {
    &__enlace {
        display: block;
        text-align: center;
        color: v.$blanco;
        margin: 2rem 0;
        @include m.tablet {
            display: inline-block;
            margin: 0 2rem 0 0;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}