@use 'base/variables' as v;
@use 'base/mixins' as m;
.propiedades {
    padding: 5rem 0;
    &__heading {
        font-weight: 400;
        margin: 2rem 0;
        span {
            font-weight: bold
        }
    }
    &__grid {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(6, 30rem);
        column-gap: 3.5rem;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        @include m.telefono {
            padding: 3rem 3rem 3rem 0;
            @include m.grid(2, 2rem);
            overflow-x: hidden;
        }
        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }
}

.propiedad {
    background-color: v.$blanco;
    border-radius: 1rem;
    scroll-snap-align: center;
    &__nombre {
        font-size: 2.3rem;
        margin: 0;
        color: v.$blanco;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
    &__imagen {
        aspect-ratio: 1/.7;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    &__contenido {
        padding: 1rem;
    }
    &__descripcion {
        text-align: justify
    }
    &__precio {
        color: v.$primario;
        font-size: 2.3rem;
        text-align: center;
        margin: 1rem 0;
        span {
            color: v.$negro;
            font-size: 2rem;
        }
    }
    &__boton {
        @include m.boton(v.$primario, v.$blanco);
        display: block;
    }
    @for $i from 1 to 7 {
        $imagen: '../img/propiedad_'+$i+'.webp';
        &:nth-child(#{$i}) &__imagen {
            background-image: linear-gradient(to bottom, transparentize(v.$negro, 1) 0%, transparentize(v.$negro, 1) 75%, transparentize(v.$negro, .2)), url($imagen);
        }
    }
}